/.vs/
Backup/
bin/
obj/
fuckshadows-csharp/fuckshadows-csharp.csproj.user
TestResults
*.suo

fuckshadows-csharp/3rd/*
!fuckshadows-csharp/3rd/zxing/
packages/*

fuckshadows-csharp.sln.DotSettings.user
*.sln.DotSettings.user
